<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crawlspace"
        tools:targetApi="34">
        <activity
            android:name=".ActivityInformation"
            android:exported="false" />
        <activity
            android:name=".ActivityRules"
            android:exported="false" />
        <activity
            android:name=".ActivityCharacterCreation"
            android:exported="false" />
        <activity
            android:name=".ActivityAllCharacters"
            android:exported="false" />
        <activity
            android:name=".ActivitySingleCharacter"
            android:exported="false" />
        <activity
            android:name=".ActivitySettings"
            android:exported="false" />
        <activity
            android:name=".ActivityServer"
            android:exported="false" />
        <activity
            android:name=".ActivityStart"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityGame"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>